body {
    background-image: url("scripts/images/preview-1_vr-sg-g131-.jpg");
    /* /scripts/images/clubs-884194_960_720.png  */
    /* background-color: #811212; */
}

.box {
    background-color: #1b3650;
    border: double;
    height: 110px;
    width: 200px;
    display: table-cell;
    vertical-align: middle;
    max-width: 200px;
}

.gameBoard {
    text-align: center;
}

.button {
    text-align: center;
    height: 50px;
    width: 100px;
    display: inline-block;
}

.cardFace {
    /* background-color: red; */
    background-repeat: no-repeat;
    background-color: white;
    background-position: center;
}

hr {
    border: groove;
}

.slider {
    width: 50%;
    text-align: center;
    display: inline-block;
    margin: 3%;
}

/*SLIDER COUNTER*/

.custom-handle {
    width: 3em;
    height: 1.6em;
    top: 50%;
    text-align: center;
    line-height: 1.6em;
    margin-top: 0.8em;
}

.customize {
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

.rotated {
    transform: rotateY(360deg);
    transform-style: preserve-3d;
    transition: all 0.9s linear;
}

.row {
    margin: 0 auto !important;
    width: 60% !important;
    font-size: 200%;
}

.submit {
    text-align: center;
    background-color: transparent;
}

.cardsType label {
    color: black;
}

.cardsTypeForm {
    text-align: center;
    background-color: burlywood;
}

.progress {
    position: relative;
    top: 0;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: relative;
    top: 0;
    width: 250px;
    margin: 0;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 0;
    }
    #wrapper.toggled {
        padding-left: 250px;
    }
    #sidebar-wrapper {
        width: 0;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }
    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

.modal-content {
    padding: 2%;
}